.featured-categories {
    background-color: var(--bg-primary);
    padding: 3rem 2rem;
}

.featured-categories .section-title {
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    text-align: center;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
}

.category-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--bg-secondary);
    padding: 1.5rem;
    border-radius: var(--radius-lg);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.category-card h3{
    color: var(--accent-primary);
    text-align: center;
    text-transform: uppercase;
}

.category-card a{
    margin-top: 0.2rem;
}

.category-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 12px var(--accent-primary);
}